/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: red;
  position: fixed;
  z-index: 10;
  top:8px;
  border: 4px solid red;
  border-radius: 50%;
  background-color: gold;
  padding: 10px;
}


#pic_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 8px groove burlywood;
  border-radius: 50%; 

}

#social_icons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  margin-top: 24px;

}

#specs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  margin-top: 32px;
  font-family: Trade Winds;
  font-size: 24px;
  color: yellow;
  text-shadow: 2px 2px #FF0000;
  
}

#main_banner {
  font-family: Trade Winds;
  font-size: 36px;
  color: yellow;
  text-shadow: 2px 2px #FF0000;

}

.parallax-container {
  min-height: 420px;
  max-height: 800px;
  line-height: 0;
  height: auto;
  color: white;

}
  .parallax-container .section {
    width: 100%;
  }




@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

    .carousel .carousel-item {
  width:300px !important;
  min-height: :300px !important;}

}

@media only screen (min-width: 660px) and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

    .carousel .carousel-item {
  width:500px !important;
  min-height: :500px !important;}

}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

  
#index_banner {
  height: 100vh;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-medium {
  background: black;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.blockquote_custom{
  background-color: #009;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin: 20px;
  padding-left: 1.5rem;
  border-left: 5px solid #64b5f6;
  font-size: 14px;
  opacity: 0.8;
}






